{% extends "base.html" %}

{% block title %}About Blog{% endblock %}

{% block content %}
<!-- Page content-->

    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{ publication.titre }}</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Posted on {{ publication.date_de_publication }} by {{ publication.auteur }}</div>
                    <!-- Post categories-->
                    {% for t in publication.thematiques.all %}
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{ t.nom }}</a>
                    {% endfor %}
                </header>
                <!-- Preview image figure-->
                {% if publication.image %}
                <figure class="mb-4"><img class="img-fluid rounded" src="/media/{{ publication.image }}" alt="..." /></figure>
                {% endif %}
                <!-- Post content-->
                <section class="mb-3">
                    <p class="fs-5 mb-4">{{ publication.resume }}</p>
                </section>
                <a class="btn btn-secondary mb-5" href="/media/{{ publication.fichier_pdf }}" download>Download</a>
            </article>

            <!-- Comments section-->
            <section class="mb-5">
                <div class="card bg-light">
                    <div class="card-body">
                        <!-- Comment form-->
                        <form class="mb-4" method="POST">
                            {% csrf_token %}
                            <textarea class="form-control" name="contenu" rows="3" placeholder="Join the discussion and leave a comment!"></textarea>
                            <input type="hidden" name="utilisateur_id" value="{{ request.user.id }}">
                            <button type="submit" class="btn btn-primary mt-2">Submit</button>
                        </form>
                        <!-- Comments -->
                        {% for commentaire in commentaires %}
                        <div class="d-flex mb-4">
                            <div class="flex-shrink-0"><img class="rounded-circle" src="{% if commentaire.utilisateur.image %}/media/{{ commentaire.utilisateur.image }}{% else %}https://dummyimage.com/50x50/ced4da/6c757d.jpg{% endif %}" alt="..." /></div>
                            <div class="ms-3">
                                <div class="fw-bold">{{ commentaire.utilisateur.nom }} {{ commentaire.utilisateur.prenom }}</div>
                                {{ commentaire.contenu }}
                                <div class="text-muted fst-italic">{{ commentaire.date }}</div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
    
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search form -->
                    <form method="GET" action="{% url 'home' %}">
                        <div class="card mb-4">
                            <div class="card-header">Search</div>
                            <div class="card-body">
                                <div class="input-group">
                                    <input class="form-control" type="text" name="q" placeholder="Enter search term..." value="{{ request.GET.q }}" aria-label="Enter search term..." aria-describedby="button-search" />
                                    <button class="btn btn-primary" id="button-search" type="submit">Go!</button>
                                </div>
                            </div>
                        </div>
                    </form>
                <!-- Categories widget -->
                <div class="card mb-4">
                    <div class="card-header">Thematiques</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    {% for thematique in thematiques %}
                                    <li><a href="{%url 'home'%}?categorie={{ thematique.nom }}">{{ thematique.nom }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            </div>
            </div>
            
       

{% endblock %}
